{% extends 'base.html.twig' %}
{% block body %}
    <h1>Bienvenue au Louvre</h1>
    <p>Site de réservation en ligne du Louvre.<br/>
    Si vous désirez réserver un billet, cliquer sur le lien suivant</p>
    <a href="/booking">Réservation</a>
{% endblock %}