{% extends 'base.html.twig' %}
{% block body %}

<h2>Success</h2>

    <a href="{{ path('home') }}">Retourner à l'accueil </a>

    <p>Un e-mail de confirmation vient de vous être envoyé.</p>
{% endblock %}
